<div class="application-container">
    <h2 id="title">Simple Stock Lookup</h2>
  {{auto-complete selectionChanged="selectionChanged"}}
  {{candlestick-chart selectedItem=selectedItem}}
  {{outlet}}
</div>
